﻿body {
        color: white;
        background: #2E69E3;
        text-align: center; 
		background-image: url(bg.jpg);
		background-repeat:no-repeat;
		background-size: cover;	
}

input {
	width: 250px;
	height: auto;
	font-weight:bold;
	font-size: 20px;
	text-align:center;
}

.addPeople{
	height: 70px;
	font-weight:bold;
}

h2{
	margin:1;
}